# IDE
.vscode/
.idea/

# npm & yarn
node_modules/
.yarn-integrity
.npm
.node_repl_history

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# env
.env*

# coverage
lib-cov
coverage
.nyc_output

# misc
.DS_STORE
thumbs.db
*.tgz
.eslintcache
